.about {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}
.about-title {
    display: flex;
    justify-content: flex-end; 
    width: 100%;
    max-width: 400px;
    margin: 120px 150px 20px auto;
    text-align: right;
}
.about-content {
    display: flex; 
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.self {
    max-height: 1200px;
    margin-left: 50px;
}
.about-text {
    text-align: right;
    margin-top: 50px;
    margin-right: 150px;
    line-height: 2;
}
.self, .about-text {
    flex: 1;
    max-width: 50%;
}
@media (max-width: 600px) {
    .about-title {
        flex-direction: column; 
        align-items: center;
    }

    .about-content {
        flex-direction: column; 
        align-items: center; 
    }

    .about-text, .self {
        width: 100%;
        margin: 0; 
    }

    .about-text {
        text-align: left; 
    }
}