#portfolio {
    padding: 20px;
    margin-top: 120px;
}
.grid-imgs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
  }
  
  .image-container {
    position: relative; 
  }
  
  .grid-img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    transition: transform 0.3s ease; 
  }
  
  /* Hover effect for the images */
  .grid-img:hover {
    transform: scale(1.05); 
  }
  
  /* Overlay styling */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); 
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px; 
  }
  
  /* Show the overlay when hovering over the image container */
  .image-container:hover .overlay {
    opacity: 1;
  }
  
  /* Title inside the overlay */
  .title {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); 
    font-family: 'Roboto', sans-serif;
}
  
  /* Styling for the Link  */
  a {
    text-decoration: none;
  }

  @media (max-width: 1024px) {
  .grid-imgs {
    grid-template-columns: repeat(3, 1fr); 
  }
}

@media (max-width: 768px) {
  .grid-imgs {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .grid-imgs {
    grid-template-columns: 1fr; 
  }
}

